@import "mi-nav.css";
@import "mi-footer.css";
@import "listacollapse.css";

:root {
  font-family: "Nunito";
  --col-active: #1e1e20;
  --color-header: #1e1e20;
  --colorMiNav: #1e1e20;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5rem;
  background:#1e1e20; color: aliceblue;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:
    var(--color-header);
}

.logocollapse{
    display: flex;
    justify-content: center;
}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

header input {
  flex-grow: 1;
}

h1 {
  margin: 0.5rem 0;
  color:#A9DFBF;
}

figure img {
  max-width: 100%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}